:root {
  --black: #000;
  --white: #FFF;
}

#about-work-div {

    margin: 8.5%;
    margin-bottom: 5%;
}

.col-6 {
    padding: 5%;
    padding-top: 0%;
}

.content-about-div {

    padding-left: 5%;
    padding-right: 5%;

    color: white;
    text-align: justify;
}

.content-right {
    text-align: right !important;
}

.about-title-h3 {
    margin-top: 7.5%;
    margin-bottom: 5%;

    font-size: 50px !important;
    font-family: 'Inria Sans', sans-serif !important;
}

.effect {

    background:
        linear-gradient(
            to left, var(--white) 0%,
            var(--white) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .5s;

    color: white;
    text-decoration: none;
}

.content-about-div:hover .about-title-h3 {

    background-size: 100% 10px;
    animation-direction: reverse;

    color: black;
}

.about-text-h5 {

    line-height: 1.3;
    font-size: 17.5px !important;
    font-family: 'Inria Sans', sans-serif !important;
}

#team-work-div {
height: 400px;
    width: 100%;
    background-color: white;
}