/* HEADER */
body {
    background-color: black !important;
}

.navbar {
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 99999;

    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 15px !important;

    background-color: black !important;
}

#logo-img {
    height: 50px;
    margin-right: 15px;
}

.navbar-brand {

    padding-top: 10px;

    line-height: 1.2 !important;
    font-size: 18px !important;
    font-family: 'Inria Sans', sans-serif !important;

    color: white !important;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.nav-link {

    margin-right: 20px !important;
    padding: 0px !important;
    padding-top: 20px;

    font-size: 17px !important;
    font-family: 'Inria Sans', sans-serif !important;

    color: white !important;
}

.current {
    border-bottom: 3px solid white;
}

.external {

    padding-left: 5px !important;
    padding-right: 5px !important;

    background:
        linear-gradient(
            to left, var(--white) 0%,
            var(--white) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .5s;

    color: #FFF;
    text-decoration: none;
}

.external:hover {

    background-size: 100% 100px;
    color: black !important;
}

/* FOOTER */
#footer-div-site {
    height: 3vw;
    bottom: 0;
    position: relative;
    display: block;
    padding: 1%;
    background-color: #121212;
}

#copyright {
    width: 100%;
    display: block !important;
    float: left !important;
}

#copyright-text {
    float: left !important;
    color: white;
    font-family: 'Inria Sans', sans-serif !important;
}

#copyright-sy {
    float: left !important;
    margin-left: 5px !important;
    color: white;
    font-family: 'Inria Sans', sans-serif !important;
}