:root {
  --primary: rgb(248, 0, 165);
  --secondary: rgb(51, 255, 0);
  --footbar: rgb(255, 255, 0);
  --project_border: rgb(0, 26, 255);
  --team_member_title: rgb(255, 255, 0);
  --team_member_contact: rgb(255, 255, 0);
}

/* LOADING SCREEN */

#loading-screen {
    position: fixed;

    top: 0;
    left: 0;
    z-index: 99999;

    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

.center-img {
    display: block;

    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;

    width: 30%;
}

/* HEADER */

body {

    overflow: hidden;
    background-color: var(--primary) !important;
}

.navbar {
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 50000;

    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 15px !important;

    background-color: var(--primary) !important;
}

#logo-img {
    height: 6vh;
    margin-right: 15px;
}

.navbar-brand {

    padding-top: 1vh;

    line-height: 1.2 !important;
    font-size: 18px !important;
    font-family: 'Inria Sans', sans-serif !important;

    color: var(--secondary) !important;
}

.navbar-toggler-icon {
    background-color: var(--secondary) !important;
}

.nav-link {

    margin-right: 20px !important;
    padding: 0px !important;
    padding-top: 20px;

    font-size: 17px !important;
    font-family: 'Inria Sans', sans-serif !important;

    color: var(--secondary) !important;
}

.current {
    border-bottom: 3px solid var(--secondary);
}

.external {

    padding-left: 5px !important;
    padding-right: 5px !important;

    background:
        linear-gradient(
            to left, var(--secondary) 0%,
            var(--secondary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .5s;

    color: var(--secondary);
    text-decoration: none;
}

.external:hover {

    background-size: 100% 100px;
    color: var(--primary) !important;
}

/* FOOTER */
#footer-div-site {
    height: 6vh;
    margin-top: auto;
    display: block;
    padding: 1%;
    background-color: var(--footbar);
}

#copyright {
    width: 100%;
    display: block !important;
    float: left !important;
}

#copyright-text {
    float: left !important;
    color: var(--secondary);
    font-family: 'Inria Sans', sans-serif !important;
}

#copyright-sy {
    float: left !important;
    margin-left: 5px !important;
    color: var(--secondary);
    font-family: 'Inria Sans', sans-serif !important;
}

/* INDEX STYLE*/

#index-content-div {

    width: 80%;

    margin: 10%;
    margin-top: 35%;
    padding: 4% !important;
    padding-top: 2% !important;

    background-color: var(--secondary) !important;
}

.index-project-article {
    margin-bottom: 2%;
}

.index-proj-img-out {

    width: 33%;

    padding: 1% !important;
}

.index-project-image {

    width: 100% !important;

    background-size: cover;
     -ms-background-size: cover;
      -o-background-size: cover;
       -moz-background-size: cover;
        -webkit-background-size: cover;
}

.fit-div-image {
    max-width: 100% !important;
    max-height: 100% !important;
}

.index-project_content {

    width: 64%;
    max-height: 127px;

    margin-right: 3%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;

    overflow: hidden;
}

.index-proj-name-h3 {

    background:
        linear-gradient(
            to left, var(--primary) 0%,
            var(--primary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .5s;

    color: var(--primary);
    text-decoration: none;
}

.index-project-article:hover .index-proj-name-h3{

    background-size: 100% 100px;

    color: var(--secondary);
}

.index-proj_cont_link {

    min-height: 100%;

    color: var(--primary);
}

.index-proj_cont_link:hover {
    color: var(--primary);
    text-decoration: none;
}

.index-proj-name-div {
    text-align: left;
}

.index-proj-name-h3 {
    font-family: 'Inria Sans', sans-serif !important;
}

.proj-summ-div {

    min-height: 100%;

    overflow: hidden;

    text-align: justify;
}

.index-proj-summ-h6 {

    overflow: hidden;

    font-family: 'Roboto', sans-serif !important;
}

#index-news-container-div-big {
    padding: 1%;
}

#index-news-title {
    font-family: 'Inria Sans', sans-serif !important;
}

.index-news-container-div-big {
    float: left;
    padding: 6% !important;
}

.index-news-div {

    padding: 3%;
    padding-bottom: 0%;

    background-color: var(--secondary);
    border-bottom: 1px solid var(--primary);
}

.index-news-link {
    text-decoration-color: transparent !important;
}

.index-news-summ-p {

    padding: 1%;
    padding-bottom: 0%;

    color: var(--primary);
    line-height: 1.3;
    text-align: justify;

    font-size: 16px;
    font-weight: bold;
    font-family: 'Inria Sans';

    background:
        linear-gradient(
            to left, var(--primary) 0%,
            var(--primary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .5s;

    color: var(--primary);
    text-decoration: none;
}

.index-news-summ-p:hover {

    background-size: 100% 100px;

    color: var(--secondary);
}

/* PROJECTS STYLE*/

#search-proj-div {
    top: 8.5vh;
    height: 4vh;
    width: auto;
    position: absolute;
    margin: 0 !important;
}

#search-bar-div {
    color: var(--secondary);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--secondary);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--secondary);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--secondary);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--secondary);
}

#search-bar {

    margin-left: 8vw;

    font-size: 25px;
    font-family: 'Inria Sans', sans-serif !important;

    color: var(--secondary);
    background-color: var(--primary);
    border: 0px solid transparent;
    border-bottom: 3px solid var(--secondary);
}

#search-button {
    color: var(--secondary);
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary);
    border: 0px solid transparent;
}

#projects_page_center_div {
    min-height: 94vh;
}

#projects-div {

    top: 22vh;
    position: relative;
    margin: 0 !important;
}

.proj-col-1 {
    min-width: 10.5vw;
    max-width: 10.5vw;
}

.proj-col-3 {

    min-width: 19vw;
    max-width: 20vw;
    min-height: 65vh;
    max-height: 65vh;

    float: right;
    padding: 2.5%;
    padding-bottom: 1%;

    background:
        linear-gradient(
            to left, var(--secondary) 0%,
            var(--secondary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;

    transition: background-size 0.35s;
    transition-timing-function: linear;
    

    background-color: var(--primary);
    border-right: 1px solid var(--project_border);
}

.proj-col-10{
    overflow:hidden;
}

.proj-col-3:hover{

    background-size: 100% 100px;
    border-right: 0px solid transparent;
}

.project-link {
    text-decoration: none;
}

.project-link:hover {
    text-decoration: none;
}

.proj-code-number {

    color: var(--secondary);
    text-align: right;
    font-family: 'Inria Sans', sans-serif !important;
}

.project-name {

    margin-bottom: 10%;

    color: var(--secondary);
    text-align: right;
    font-family: 'Inria Sans', sans-serif !important;
}

.proj-img-out {

    min-height: 16vh;
    max-height: 22vh;
    min-width: 15vw !important;
    max-width: 21vw !important;

    margin-bottom: 1vh;

background-color: var(--secondary);

}

.project-text {

    max-height: 27vh;
    margin-top: 10%;

    color: var(--secondary);
    text-align: justify;

    font-size: 16px;
    overflow: hidden;
    font-family: 'Inria Sans', sans-serif !important;
}

.proj-col-3:hover .proj-code-number {

    color: var(--primary);
    text-align: right;
    font-family: 'Inria Sans', sans-serif !important;
}

.proj-col-3:hover .project-name {

    margin-bottom: 10%;

    color: var(--primary);
    text-align: right;
    font-family: 'Inria Sans', sans-serif !important;
}

.proj-col-3:hover .project-text {

    margin-top: 10%;

    color: var(--primary);
    text-align: justify;
    font-family: 'Inria Sans', sans-serif !important;
}

/* NEWS STYLE*/

/* ABOUT STYLE*/

#about-work-div {

    margin: 8.5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.about-col-6 {
    padding: 5%;
    padding-top: 0%;
}

.content-about-div {

    padding-left: 5%;
    padding-right: 5%;

    color: var(--secondary);
    text-align: justify;
}

.about-title-h3 {
    margin-top: 5%;
    margin-bottom: 10%;

    font-size: 50px !important;
    font-family: 'Inria Sans', sans-serif !important;
}

.about-effect {

    background:
        linear-gradient(
            to left, var(--secondary) 0%,
            var(--secondary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .5s;

    color: var(--secondary);
    text-decoration: none;
}

.content-about-div:hover .about-title-h3 {

    background-size: 100% 10px;
    animation-direction: reverse;

    color: var(--primary);
}

.about-text-h5 {

    line-height: 1.3;
    font-size: 17.5px !important;
    font-family: 'Inria Sans', sans-serif !important;
}

#team-container-div {
    width: 100%;
    padding: 5%;
    padding-bottom: 7.5%;

    background-color: var(--secondary);
}



.about-col-3 {
    margin-bottom: 2% !important;
    border: 0px solid transparent !important;
}

#team-text-h3 {

    padding-top: -.5%;
    padding-bottom: 5%;

    color: var(--primary);
    text-align: center;

    font-size: 50px !important;
    font-family: 'Inria Sans', sans-serif !important;
}

.team-member-div {
    padding: 10%;
    padding-top: 10%;
    padding-bottom: 10%;

    border: 1px solid #DDD !important;
    border-radius: 3px;
}

.team-member-div:hover {
    background-size: 100% 10px;
    animation-direction: reverse;
}

.about-effect-2 {

    background:
        linear-gradient(
            to left, var(--primary) 0%,
            var(--primary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .6s;

    color: var(--secondary);
    text-decoration: none;
}

.team-member-div:hover .team-member-name {
    color: var(--secondary);
}

.team-member-div:hover .team-member-title {
    color: var(--secondary);
}

.team-member-div:hover .team-member-contacts {
    color: var(--secondary);
}

.team-member-name {
    color: var(--primary);
    font-size: 30px;
    text-align: right;
    font-family: 'Inria Sans', sans-serif !important;
}

.team-member-title {
    margin-top: -3%;
    margin-bottom: 15%;

    color: var(--team_member_title);
    font-size: 14px;
    text-align: right;
    font-family: 'Inria Sans', sans-serif !important;
}

.team-member-contacts {
    color: var(--team_member_contact);
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Inria Sans', sans-serif !important;
}

/* PROJECT PAGE */

#project-page-div {

    min-height: 94vh;

    padding: 7.5%;
    padding-top: 17.5vh;

    color: var(--secondary);
}

#project-page-proj-code {

    padding: 0.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    display:inline-block;

    background:
        linear-gradient(
            to left, var(--secondary) 0%,
            var(--secondary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .75s;

    color: var(--primary);
    font-family: 'Inria Sans', sans-serif !important;
}

#project-page-proj-name {

    padding: 0.5%;
    margin-top: -0.25%;
    display:inline-block;

    background:
        linear-gradient(
            to left, var(--secondary) 0%,
            var(--secondary) 100%
        );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .75s;

    color: var(--primary);
    font-family: 'Inria Sans', sans-serif !important;
}

.proj-page-effect {

    background-size: 100% 10px !important;
    color: var(--primary) !important;
}

#project-page-proj-text {

    max-width: 30vw;
    padding-top: 2.5%;

    color: var(--secondary);
    text-align: justify;

    font-size: 19px;
    font-family: 'Inria Sans', sans-serif !important;
}